/Checkpoints
/Training Data
/Etienne
/Results*
/Barbara
/Checkpoints

/2018*
/RAW*
/ImageJ outputs*
multipage_rolled.tif
Projections of Composite.gif
Projections of Composite.tif
Composite.tif
ON_4_analytic_results1) EAE_miR_4_jaune_Series006_z_input_stack_composite-PROJECTION.tif
ON_4_analytic_results1) EAE_miR_4_jaune_Series006_z_input_stack_composite.tif
ON_4_analytic_results1) EAE_miR_4_jaune_Series006_z_input_stack_surface_map-PROJECTION.tif
ON_4_analytic_results1) EAE_miR_4_jaune_Series006_z_input_stack_surface_map.tif
